ul.list-inline.list-unstyled
    for image in photo
        li
            image.img-thumbnail.img-small(src='http://farm#{image.farm}.staticflickr.com/#{image.server}/#{image.id}_#{image.secret}.jpg', data-id='#{image.id}')
        
